.searchMain{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.locationTextBox{
   padding: 10px;
   border-radius: 5px;
   font-size: 15px;
   

}

.searchButton{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #8A00F7;
    color: white;
    font-size: 18px;
    margin-left: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}